{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="site-cover site-cover-sm same-height overlay single-page"
       style="background-image: url('{% static 'images/hero_1.jpg' %}')">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="post-entry text-center">
            <h1 class="mb-4">
              <a href="#">Welcome to my Blog</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- posts -->
  <section class="site-section py-lg">
    <div class="container">
      <div class="row blog-entries element-animate mb-5">
        <div class="col-md-12 col-lg-8 main-content">
          {% for post in post_list %}
            <div class="entry2 mb-5 pt-2">
              <a href="{% url 'post_detail' post.slug %}">
                <img src="{{ post.cover_image.url }}" alt="Image" class="img-fluid rounded">
              </a>
              <h2 class="mt-2">
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
              </h2>
              <div class="post-meta align-items-center text-left clearfix">
                <!--<figure class="author-figure mb-2 mr-3 float-left">
                  <img src="{% static 'images/obs_2022_a2-230_crop.jpg__210x208_q85_subsampling-2_upscale.jpg' %}" alt="Image" class="img-fluid">
                </figure>
                 <span class="d-inline-block mt-1">By <a href="#">{{ post.author.first_name|default:post.author.username  }}</a></span> &nbsp;-&nbsp; -->
                <span> {{ post.date_published|date:"F d, Y" }}</span>
              </div>
              <p>{{ post.content|striptags|slice:":200" }}</p>
            </div>
          {% endfor %}
          <!-- Page navigation -->
          <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                  </a>
                </li>
              {% endif %}
              {% for n in page_obj.paginator.page_range %}
                {% if page_obj.number == n %}
                  <li class="page-item active">
                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                  </li>
                {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link"
                     href="?page={{ page_obj.paginator.num_pages }}"
                     aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">end</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <!-- END main-content -->
        {% block sidebar %}
          {% include 'sidebar.html' %}
        {% endblock sidebar %}
      </div>
    </div>
  </section>
{% endblock %}
