{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="site-cover site-cover-sm same-height overlay single-page"
         style="background-image: url('{{ post.cover_image.url }}')">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">{{ post.title }}</h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block">
                                <img src="{% static 'images/person_1.jpg' %}"
                                     alt="Image"
                                     class="img-fluid">
                            </figure>
                            <span class="d-inline-block mt-1">By {{ post.author.first_name|default:post.author.username  }}</span>
                            <span>&nbsp;-&nbsp; {{ post.created_on }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="site-section py-lg mx-3">
        <div class="container">
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="post-content-body ck-content">{{ post.content | safe }}</div>
                    <div class="pt-5">
                        <p>
                            Categories:  <a href="#">Django</a>, <a href="#">Python</a>  Tags: <a href="#">#tbupdated</a>,
                        </p>
                    </div>
                    {% if post.more_pic %}<img src="{{ post.more_pic.url }}" alt="Image" class="img-fluid">{% endif %}
                    <div class="pt-5">
                        <h3 class="mb-5">{{ comments.count }}  Comments</h3>
                        <ul class="comment-list">
                            {% for comment in comments %}
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{ comment.name }}</h3>
                                        <div class="meta">{{ comment.created_on }}</div>
                                        {{ comment.body | linebreaks }}
                                        <p>
                                            <a href="#" class="reply rounded">Reply</a>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- END comment-list -->
                        <div class="comment-form-wrap pt-5">
                            {% if new_comment %}
                                <div class="alert alert-success" role="alert">Your comment is awaiting moderation</div>
                            {% else %}
                                <h3 class="mb-5">Leave a comment</h3>
                                <form method="post" class="p-5 bg-light">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary ">Post Comment</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block sidebar %}
                    {% include 'sidebar.html' %}
                {% endblock sidebar %}
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
{% endblock extra-styles %}
{% block extra-scripts %}
    <script src="{% static 'js/prism.js' %}"></script>
{% endblock extra-scripts %}
