{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container  ">
        <div class="row justify-content-center">
            <div class="col-xl-8 card mb-4  mt-3 top">
                <div class="card-body">
                    <h1>
                        {% block title %}
                            {{ post.title }}
                        {% endblock title %}
                    </h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    {% if post.cover_image.url is not None %}
                        <img src="{{ MEDIA_URL }}{{ post.cover_image.url }}"
                             class="img-fluid"
                             id="cover-photo" />
                    {% endif %}
                </div>
                <div class="card-text px-3 ck-content">{{ post.content | safe }}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- comments -->
                    <h2>{{ comments.count }} comments</h2>
                    {% for comment in comments %}
                        <hr class="hr my-1">
                        <div class="comments px-3 py-2">
                            <p class="font-weight-bold">
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">{{ comment.created_on }}</span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">Your comment is awaiting moderation</div>
                    {% else %}
                        <h3>Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
