{% block sidebar %}
{% load static %}

    <!-- Sidebar Widgets Column -->
    <div class="col-md-12 col-lg-4 sidebar">
        <div class="sidebar-box search-form-wrap">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon fa fa-search"></span>
              <input type="text"
                     class="form-control"
                     id="s"
                     placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <div class="bio text-center">
            <img src="{% static 'images/person_2.jpg' %}"
                 alt="Image Placeholder"
                 class="img-fluid mb-5">
            <div class="bio-body">
              <h2>Tijesunimi Adebiyi</h2>
              <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.
              </p>
              <p>
                <a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a>
              </p>
              <p class="social">
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endblock sidebar %}
