{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 card mb-4  mt-3 top">
            <div class="text-dark">Change password for {{ request.user.username }}</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
